<a href="https://colab.research.google.com/github/guguriedel/ENG1111/blob/main/GustavoRiedel_2210375_Lista3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [328]:
#Salve a base de dados escolhida no seu drive e importe para um notebook do Colab, criando um Dataframe
#Inspecione as colunas do conjunto de dados (Nome das colunas e tipo de dados)
import pandas as pd
import json
from google.colab import drive
import os
import numpy as np

drive.mount('/drive',force_remount=True)
money = pd.read_csv("/drive/MyDrive/Colab Notebooks/DataBank/class_analise_credito.csv")
pd.set_option('display.max_columns', 10)
print(money)

Mounted at /drive
      ESTC  NDEP  RENDA  TIPOR  VBEM  ...  TEL  IDADE  RESMS  ENTRADA  target
0        1     0    360      0   313  ...    0     25     48        0       1
1        0     0    350      1   468  ...    0     33      6        0       1
2        0     0   1100      0   829  ...    0     56     48        0       1
3        0     0   3000      0   552  ...    1     31     60        0       1
4        1     0   1000      0   809  ...    0     24      7        0       1
...    ...   ...    ...    ...   ...  ...  ...    ...    ...      ...     ...
1495     1     0    500      0   437  ...    0     60     48        0       1
1496     1     0   2057      0   301  ...    0     35     48        0       1
1497     0     0    570      0   511  ...    1     28    144        0       1
1498     0     0    360      0   384  ...    0     33     36        0       1
1499     0     4    501      1   849  ...    0     37      6        0       0

[1500 rows x 12 columns]

In [329]:
#Escolha uma coluna com valores numéricos e apague todas as linhas que possuam valor nulo

money['RENDA'].dropna(inplace = True)
renda_column = money['RENDA']

print(renda_column)

0        360
1        350
2       1100
3       3000
4       1000
        ...
1495     500
1496    2057
1497     570
1498     360
1499     501
Name: RENDA, Length: 1500, dtype: int64

In [330]:
#Calcule a média desta mesma coluna

media = renda_column.mean()
print(media)

984.512

In [331]:
#Escolha um critério para eliminar as linhas que possuam valores muito distantes da média e crie um novo Dataframe.
lowpass = (media*0.2)
highpass = (media*1.8)
#Aqui eu criei uma margem de erro de 80% da média.
cont = 0
while cont < len(renda_column):
  if renda_column[cont] > highpass or renda_column[cont] < lowpass:
    money.drop(cont, inplace = True)
  cont+=1

print("Observe como a media abaixou significamente:")
print("%.2f"%(money['RENDA'].mean()))
print(money)

Observe como a media abaixou significamente:
713.87
      ESTC  NDEP  RENDA  TIPOR  VBEM  ...  TEL  IDADE  RESMS  ENTRADA  target
0        1     0    360      0   313  ...    0     25     48        0       1
1        0     0    350      1   468  ...    0     33      6        0       1
2        0     0   1100      0   829  ...    0     56     48        0       1
4        1     0   1000      0   809  ...    0     24      7        0       1
5        0     0    300      0   331  ...    1     41      0        0       1
...    ...   ...    ...    ...   ...  ...  ...    ...    ...      ...     ...
1494     0     0   1100      1   412  ...    0     41      6      100       0
1495     1     0    500      0   437  ...    0     60     48        0       1
1497     0     0    570      0   511  ...    1     28    144        0       1
1498     0     0    360      0   384  ...    0     33     36        0       1
1499     0     4    501      1   849  ...    0     37      6        0       0

[1311 rows x 12 columns]

In [332]:
data= money[['RENDA', 'VBEM', 'VPARC','IDADE',"target"]]
#Dataframe com 5 colunas
data.insert(1, 'VBEM - VPARC', ((data['VBEM'] - data['VPARC'] )* 0.45))
#sexta coluna add

print(data)

      RENDA  VBEM - VPARC  VBEM  VPARC  IDADE  target
0       360        117.45   313     52     25       1
1       350        181.35   468     65     33       1
2      1100        316.80   829    125     56       1
4      1000        314.10   809    111     24       1
5       300        115.65   331     74     41       1
...     ...           ...   ...    ...    ...     ...
1494   1100        155.25   412     67     41       0
1495    500        169.65   437     60     60       1
1497    570        198.00   511     71     28       1
1498    360        149.40   384     52     33       1
1499    501        329.40   849    117     37       0

[1311 rows x 6 columns]

In [333]:
randata = data.reindex(np.random.permutation(data.index))
#Embaralhando os Dados

randata = randata.sort_values(by='RENDA', ascending=True)
#Ordenando os dados pela ordem crescente da coluna "RENDA"
print(randata)

      RENDA  VBEM - VPARC  VBEM  VPARC  IDADE  target
197     300        206.55   537     78     32       0
1154    300        109.35   310     67     61       0
435     300        211.95   529     58     34       1
650     300        153.00   401     61     62       0
1207    300        129.60   339     51     48       0
...     ...           ...   ...    ...    ...     ...
498    1700        238.50   669    139     65       0
209    1727        505.35  1199     76     65       0
460    1740        104.40   400    168     60       0
745    1750        302.85   776    103     57       0
1478   1761         92.70   449    243     23       1

[1311 rows x 6 columns]

In [334]:
#Escolha uma coluna numérica e um coluna com strings e utilize a função Groupby para mostrar os totais da  coluna.
#No meu df nao tem nenhuma coluna com str

grupo = randata.groupby('RENDA')[['IDADE']].min()
print(grupo)

       IDADE
RENDA
300       19
301       36
302       26
303       27
305       38
...      ...
1700      39
1727      65
1740      60
1750      57
1761      23

[441 rows x 1 columns]

In [335]:
#Utilize a função MAPS para fazer algum tipo de substituição no Dataframe (explique)

randata['target'] = randata['target'].map({1.0 : 'positivo', 0.0 : 'negativo'})
#Caso target seja classificado como 0, sera substituido por Negativo;
#Caso target seja 1, sera substituido por Positivo;

print(randata)

      RENDA  VBEM - VPARC  VBEM  VPARC  IDADE    target
197     300        206.55   537     78     32  negativo
1154    300        109.35   310     67     61  negativo
435     300        211.95   529     58     34  positivo
650     300        153.00   401     61     62  negativo
1207    300        129.60   339     51     48  negativo
...     ...           ...   ...    ...    ...       ...
498    1700        238.50   669    139     65  negativo
209    1727        505.35  1199     76     65  negativo
460    1740        104.40   400    168     60  negativo
745    1750        302.85   776    103     57  negativo
1478   1761         92.70   449    243     23  positivo

[1311 rows x 6 columns]

In [336]:
#Exportando o DataFrame para o drive:

randata.to_csv("/drive/MyDrive/Colab Notebooks/DataBank/class_analise_credito_editada.csv")
randata.to_json("/drive/MyDrive/Colab Notebooks/DataBank/class_analise_credito_editada.json")